*{
    margin: 0;
    padding: 0;
}
.cards{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
img{
    width: 150px;
    height: 150px;
    margin: 10px;
}
.container{
    margin: 15px;
}
.cardscontainer:hover{
    transform: scale(1.10,1.10);

}
.cardscontainer{
    border: 2px solid black;
    margin: 15px;
    text-align: center;
}